* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right,  #172bc5, #7AD7F0 );

  font-family: serif;
  text-align: center;
  color: black;
  font-size: 20px;
  margin: 100px;
  vertical-align: middle;
  /* width: 20px; */
  /* padding: 10px; */
  margin-top: 100px;
  margin-left: 340px;
justify-content: space-between;
}

header {
  color: black;
  text-align: center;
}
/* .button {
  height: 100px;

  width: 100px;
  height: 20px;
  padding: 5px;

  margin: auto;
  vertical-align: middle;
  padding-right: 30px;
  font-weight: 700;
  display: table-cell;
  color: rgb(3, 3, 3);
  justify-content: center;
} */



.button{
  width: 80px;
    padding: 2px;
  background-image: linear-gradient(to right,  #172bc5, #7AD7F0 );
 


}
.button1{
  width: 80px;
    padding: 2px;
}
.button2{
  width: 200px;
  padding: 2px;
  margin: 10px;
  
  background-image: linear-gradient(to right,  #172bc5, #7AD7F0 );

}
.head{
  padding-top: 30px;
}
.email{
  padding: 5px;
}
.row{
  padding-top: 20px;
}
/* button {
  text-align: center;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to left, rgb(165, 27, 112), purple);

  width: auto;
display: flex;
  box-sizing: content-box;
  display: inline-table;
  padding: 10px;
  border: 5px solid;

  color: #f3f3f3;
  text-shadow: 1px;
} */
.p{
  color: blue;
  font-size: small;
}

.footer {
  color: black;
  font-size: large;
}

.strong {
  color: purple;
}
/* #login{
  text-align: center;
  margin: auto;
  background-image: linear-gradient(to right, pink, purple);
  
  border: 5px solid rgb(225, 38, 38);
  width: auto;
  box-sizing: content-box;
  display: inline-block;
  padding: 30px;
  margin: 10px;
  
   
} */
.div {
  width: auto;
  padding: auto;
}
.demo {
  width: 400px;
  height: 300px;
  margin: 100px;
  padding: 20px;
  height: 340px;
  justify-content: center;
  background-color: #fff;
  border-left: 200px;
  /* border-top: 800px; */
  justify-content: center;



}
.password{

  /* width: 20px; */
  height: 20px;
  margin: 5px;
  font-size: 15px;

}
.strong{
  font-size: 10px;
}