* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, rgb(210, 109, 126), purple);

  font-family: serif;
  text-align: center;
  color: black;
  font-size: x-large;
  margin: 100px;
  height: 200px;
  padding: 10px;
  vertical-align: middle;
  width: 4%;
justify-content: space-between;
}

header {
  color: black;
  text-align: center;
}
button {
  height: 400px;

  height: 0%;
  width: 100px;
  height: 20px;

  margin: auto;
  vertical-align: middle;
  padding-right: 30px;
  font-weight: 700;
  display: table-cell;
  color: rgb(3, 3, 3);
  justify-content: center;
}
/* button {
  text-align: center;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to left, rgb(165, 27, 112), purple);

  width: auto;
display: flex;
  box-sizing: content-box;
  display: inline-table;
  padding: 10px;
  border: 5px solid;

  color: #f3f3f3;
  text-shadow: 1px;
} */
p {
  color: blue;
  font-size: small;
}
footer {
  color: black;
  font-size: large;
}

strong {
  color: purple;
}
/* #login{
  text-align: center;
  margin: auto;
  background-image: linear-gradient(to right, pink, purple);
  
  border: 5px solid rgb(225, 38, 38);
  width: auto;
  box-sizing: content-box;
  display: inline-block;
  padding: 30px;
  margin: 10px;
  
   
} */
div {
  width: auto;
  padding: auto;
}
.demo {
  width: 400px;
  height: 300px;
  justify-content: center;
  background-color: #fff;
}
.password{

  /* width: 20px; */
  height: 20px;
}